h1 {
  font-weight: 700;
  font-size: 50px;
  padding: 10px 0;
  color: #000;
}
a {
  text-decoration: none;
  color: rgb(3, 3, 37);
}
.weather-app{
  max-width: 600px;
  margin: 0 auto;
  display: block;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 8px 0px;
  background-image: url("images/sky.jpg");
  background-position: 100%;
  background-size: cover;
}
.weather {
  font-family: "Dancing Script", cursive;
  border-radius: 20px;
  border: 2px solid #000;
  text-align: center;
}
.units{
  font-size: 20px;
  position: relative;
  top: -10px;
}
.weather-detail,
#time,
#date {
  font-size: 20px;
  font-weight: 700;
}
.week-weather {
  font-family: "Maven Pro", sans-serif;
  font-size: 16px;
  border-radius: 20px;
  border: 1px solid #000;
  text-align: center;
  margin: 20px 0;
}
.week-weather h6 {
  font-size: 20px;
  font-weight: bold;
}
.search-engine {
  border: 1px solid #000;
  border-radius: 20px;
  padding: 10px 70px;
}
